:host {
  --bg-color: white;
  --fg-color: black;
  --header-bg-color: black;
  --header-fg-color: orange;
  --nav-bg-color: orange;
  --nav-fg-color: black;
  --main-bg-color: white;
  --main-fg-color: black;
  --footer-bg-color: black;
  --footer-fg-color: orange;
  --credits-bg-color: white;
  --credits-fg-color: black;
  --footer-margin-top: 48px;
  overflow-x: hidden;
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: var(--bg-color);
  color: var(--fg-color);
}
.header-container {
  background-color: var(--header-bg-color);
  color: var(--header-fg-color);
}
.header-container > .container {
  display: flex;
}
.header-container > .container > .header-wrapper {
  flex: 1;
}
.navigation-container {
  background-color: var(--nav-bg-color);
  color: var(--nav-fg-color);
}
.main-container {
  flex-grow: 1;
  flex: 1;
  background-color: var(--main-bg-color);
  color: var(--main-fg-color);
}
.footer-container {
  margin-top: var(--footer-margin-top);
  background-color: var(--footer-bg-color);
  color: var(--footer-fg-color);
}
.credits-container {
  background-color: var(--credits-bg-color);
  color: var(--credits-fg-color);
}
